---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="stylesheet" href="/global.css" />
  </head>
  <body class="bg-white dark:bg-black text-black dark:text-white font-sans">
    <main class="min-h-screen">
      <slot />
    </main>
  </body>
</html>
